In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures

## Data

In [4]:
fish_data = pd.read_csv('./data/Fish.csv')

fish_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

In [5]:
index = fish_data[ fish_data['Weight'] == 0.0].index
fish_data.drop(index, inplace = True)

fish_data.describe()

            Weight     Length1     Length2     Length3      Height       Width
count   158.000000  158.000000  158.000000  158.000000  158.000000  158.000000
mean    400.847468   26.293038   28.465823   31.280380    8.986790    4.424232
std     357.697796   10.011427   10.731707   11.627605    4.295191    1.689010
min       5.900000    7.500000    8.400000    8.800000    1.728400    1.047600
25%     121.250000   19.150000   21.000000   23.200000    5.940600    3.398650
50%     281.500000   25.300000   27.400000   29.700000    7.789000    4.277050
75%     650.000000   32.700000   35.750000   39.675000   12.371850    5.586750
max    1650.000000   59.000000   63.400000   68.000000   18.957000    8.142000

In [ ]:
# Separate Target from features
y_fish = fish_data.iloc[:, 1]
X_fish = fish_data.drop(columns=['Weight'])
X_fish = X_fish.drop(columns=['Species'])

# Convert into numpy arrays
X_fish = X_fish.values
y_fish = y_fish.values

# Split into Training and Test Groups
X_fish_train, X_fish_test, y_fish_train, y_fish_test = train_test_split(X_fish, y_fish, test_size = 0.2, random_state = 0)

## Training